@{
    ViewBag.Title = "Forgot Password";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="" class="login-container">
    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center">Reset Your Password</h3>
            </div>
            <div>
                @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @style = "margin-bottom: 0px!important;" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="content">
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger">
                                @ViewBag.Error
                            </div>
                        }
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-info">
                                @ViewBag.Message
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    @Html.TextBox("username", "", new { @class = "form-control", @placeholder = "Username or Email", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="foot">
                        <a href="/Login/Index" class="btn btn-primary pull-left">Back to Login</a>
                        <input type="submit" class="btn btn-primary" value="Send Reset Mail" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
