@{
    ViewBag.Title = "Reset Password";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model RedHill.SalesInsight.Web.Html5.Models.ChangePasswordView
<div class="" id="password_reset_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title">Reset Password </h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    @Html.Partial("_ViewBagError","")
                    <div class="alert alert-info">
                        <p>The Password :</p>
                        @Html.Raw(string.Join("", RedHill.SalesInsight.DAL.SIDAL.FindSuperUserSettings().PasswordRules.Select(x => string.Format("<li>{0}</li>", x))))
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.UserId)
                        @Html.HiddenFor(x => x.Token)
                        <input id="oldPassword" type="password" required="required" class="form-control col-md-4" placeholder="Old Password" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <input type="password" id="newPassword" required="required" class="form-control col-md-4" placeholder="New Password" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <input type="password" id="confirmPassword" required="required" class="form-control col-md-4" placeholder="Confirm New Password" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/Login/Index" class="btn btn-primary pull-left"><i class="fa fa-fw fa-arrow-left"></i>Back to Login</a>
                <a href="/Login/ForgotPassword" class="btn btn-primary pull-left">Forgot Password<i class="fa fa-question"></i></a>
                <button type="submit" class="btn btn-primary reset_Password">Reset Password</button>
            </div>
        </div>
    </div>
</div>