@model RedHill.SalesInsight.Web.Html5.Models.ConversationPageModel


@{
    ViewBag.Title = "Conversations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h2>
        Conversations
    </h2>
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li>Conversations</li>
    </ol>
</div>
<div class="cl-mcont">

</div>


