.svn/****
.vs/****
SalesInsightServer.v11.suo
Redhill.SalesInsight.Service/obj/****
Redhill.SalesInsight.Service/bin/**
Redhill.SalesInsight.Web.Html5/obj/**
Redhill.SalesInsight.Web.Html5/bin/**
Redhill.SalesInsight.Web/obj/**
Redhill.SalesInsight.Web/bin/**
Redhill.SalesInsight.DAL/obj/**
Redhill.SalesInsight.DAL/bin/**
Redhill.SalesInsight.Logger/obj/**
Redhill.SalesInsight.Logger/bin/**
Redhill.SalesInsight.Tests/obj/**
Redhill.SalesInsight.Tests/bin/**
Redhill.SalesInsight.AUJSIntegration/obj/**
Redhill.SalesInsight.AUJSIntegration/bin/**
*/Web.config
MVC-FIO/obj/*
RedHill.SalesInsight.API/obj/*
