<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="API_BASE_URL" value="https://demo.jonel.com/goldgate/v1"/>
    <add key="CLIENT_ID" value="Test_Client"/>
    <add key="CLIENT_KEY" value="test_client_key-this_should_be_a_very_long_random_string"/>
    <add key="API_SOURCE" value="AUJS"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
