@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Targets";
}
<div class="page-head">
    <h2><i class="fa fa-bullseye"></i> Targets</h2>
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Settings">Settings</a></li>
        <li class="active">Targets</li>
    </ol>
</div>

<div class="cl-mcont">
    <div>
        @if (ViewBag.AccessRule.HasTargetsAccess != SIRolePermissionLevelConstants.NO_ACCESS)
        {
            <a href="@Url.Action("MonthlyProductivityTargets", "Target")">
                <div class="butpro butstyle flat">
                    <div class="sub">
                        <h2>Monthly Targets</h2>
                        <div>
                            Productivity metrics
                        </div>
                    </div>
                    <div class="stat">
                        <i class="fa fa-2x fa-check-circle text-primary"></i>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("MonthlyFinancialTargets", "Target")">
                <div class="butpro butstyle flat">
                    <div class="sub">
                        <h2>Monthly Targets</h2>
                        <div>
                            Financial metrics
                        </div>
                    </div>
                    <div class="stat">
                        <i class="fa fa-2x fa-money text-primary"></i>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("Targets", "Home")">
                <div class="butpro butstyle flat">
                    <div class="sub">
                        <h2>Monthly Targets</h2>
                        <div>
                            Volume Distribution
                        </div>
                    </div>
                    <div class="stat">
                        <i class="fa fa-2x fa-users text-primary"></i>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
