<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SalesInsightConnectionString" connectionString="Server=.;Initial Catalog=ESITestReadyMixInsight;Integrated Security=True; " providerName="System.Data.SqlClient"/>
    <add name="MongoDb" connectionString="mongodb://localhost:27017"/>
    <!--<add name="SalesInsightConnectionString" connectionString="Server=redhilldatabase.ciqxoo5gv8bl.us-west-1.rds.amazonaws.com;Initial Catalog=BRNReadyMixInsightCopy1;Integrated Security=False;User ID=root;Password=ramuknat" providerName="System.Data.SqlClient" />-->
    <!--<add name="SalesInsightConnectionString" connectionString="Server=s10.winhost.com;Initial Catalog=DB_86499_salesins;Integrated Security=False;User ID=DB_86499_salesins_user;Password=ramuknat;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="API_BASE_URL" value="https://demo.jonel.com/goldgate/v1" />
    <add key="CLIENT_ID" value="Test_Client" />
    <add key="CLIENT_KEY" value="test_client_key-this_should_be_a_very_long_random_string" />
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SMTP_FROM" value="no-reply@readymixinsight.com"/>
    <add key="SMTP_USERNAME" value="postmaster@readymixinsight.com"/>
    <add key="SMTP_PASSWORD" value="9a26534ec8dcdfef149537c3e37b0954"/>
    <add key="SMTP_HOST" value="smtp.mailgun.org"/>
    <add key="SMTP_PORT" value="25"/>
    <add key="SMTP_TLS" value="false"/>
    <add key="MongoDB" value="TestCMXEsiCache"/>
    <!--
    <add key="ReportServer" value="http://salesinsight.tridentshoxx.com:4444/Reports/"/>
    -->
    <add key="ReportServer" value="http://localhost:/Reports/"/>
    <!--Logger-->
    <add key="FILELOGGER_PATH" value="E:\Work\ESI\Logs\Log.txt"/>
    <add key="LogErrorOnly" value="false"/>


    <add key="DriverDetailFilePath" value="E:\Work\ESI\Docs\DriverTime.xlsx"/>
    <add key="DriverLoginTimeFilePath" value="E:\Work\ESI\Docs\DriverTime.xlsx"/>
    <add key="TicketDetailFilePath" value="E:\Work\ESI\Docs\2016_Tickets.xlsx"/>
    <add key="DailyPlantSummaryFilePath" value="E:\Work\ESI\Docs\Custom.xlsx"/>
    
    <add key="UploadDriverDetail" value="false"/>
    <add key="UploadDriverLoginTime" value="true"/>
    <add key="UploadTicketDetail" value="false"/>
    <add key="UploadDailyPlantSummary" value="true"/>
    <add key="IsProcessEsiCache" value="false"/>

    <add key="UpdateMongoByTicketDetails" value="false"/>
    <add key="UpdateMongoByDailyPlantSummary" value="false"/>

    <add key="ProcessEsiCacheYear" value="2016"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
